header {
    text-align: right;
    padding: 0.8rem 0rem;
}

.header-link {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 7rem;
    text-align: center;
    padding: 0.5rem 0.0rem;
}

.header-link.active {
    font-weight: 700;
    border-bottom: 0.1rem solid black;
}

.header-link:hover {
    opacity: 0.5;
}